<div class="container">
  <mat-table [dataSource]="encryptedItems">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="encryptedText">
      <th mat-header-cell *matHeaderCellDef> Encrypted Text </th>
      <td mat-cell *matCellDef="let element"> {{element.encryptedText}} </td>
    </ng-container>
    <ng-container matColumnDef="decrypt">
      <mat-header-cell  *matHeaderCellDef > Decrypt </mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <button mat-button (click)="decryptText(element.id)">Decrypt</button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</div>
