<div class="container">
  <form>
    <mat-form-field>
      <textarea matInput placeholder="Insert text"></textarea>
    </mat-form-field>
    <button mat-button (click)="encryptText()">Encrypt</button>
  </form>
</div>
